setting.json
*cp.sh*
.jshintrc
*.swp
*.bk
*.lnk
./test.js
FutatsumeWatch.user\ *.js
.DS_Store
*.lnk
node_modules/
.gitkeep
session/*
.idea/*
./lib/*
./botsu/*
package-lock.json
COMMON-AGENTS.md
subagents/
dev-extensions/
dev-assets/